<ion-header no-border>
  <ion-toolbar transparent color="light">
    <button ion-button (click)="backStep()" class="button2">
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>
<ion-content [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}" class="bgcolor">


  <!-- <img class="logo" src="./assets/medium_150.70391061453px_1202562_easyicon.net.png" /> -->
  <!--*********** Form ***********-->

  <!-- <form [formGroup]="registerForm" (submit)="registerUser()" novalidate> -->
  <ion-slides pager="false">
    <ion-slide>
      <div class="login-container">
          <h1 class="textcolorgrey">Register</h1>
        <ion-item no-lines>
          <ion-label stacked >First Name</ion-label>
          <ion-input [(ngModel)]="user.firstName" type="text" ></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked >Last Name</ion-label>
          <ion-input [(ngModel)]="user.lastName" type="text" ></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked >Email</ion-label>
          <ion-input [(ngModel)]="user.email" type="email" ></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label stacked >Mobile</ion-label>
          <ion-input [(ngModel)]="user.mobile" type="number" ></ion-input>
        </ion-item>

        <ion-item class="paddingbottom" no-lines>
          <ion-label stacked>Date of birth</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="user.dateOfBirth"></ion-datetime>
        </ion-item>
        <button ion-button full  color="blue2" (click)="nextStep()" class="margintop">
            Next
          </button>
          
        <!-- <ion-item>
      <ion-label stacked class="textcolorgrey">Password</ion-label>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item class="paddingbottom">
      <ion-label stacked class="textcolorgrey">Confirm password</ion-label>
      <ion-input type="password" placeholder="Confirm password"></ion-input>
    </ion-item> -->
        <!-- </form> -->
        
      </div>
    </ion-slide>

    <!--slide2-->
    <ion-slide>
      <div class="login-container">
        <h1 class="textcolorgrey">Register</h1>
        <ion-item>
          <ion-label stacked class="">Username</ion-label>
          <ion-input [(ngModel)]="user.username" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked class="">Password</ion-label>
          <ion-input [(ngModel)]="user.password" type="password" ></ion-input>
        </ion-item>
        <ion-item >
          <ion-label stacked class="">Confirm Password</ion-label>
          <ion-input [(ngModel)]="user.confirmPassword" type="password"></ion-input>
        </ion-item>
        <!-- <ion-item>
        <ion-label stacked class="textcolorgrey">Password</ion-label>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item class="paddingbottom">
        <ion-label stacked class="textcolorgrey">Confirm password</ion-label>
        <ion-input type="password" placeholder="Confirm password"></ion-input>
      </ion-item> -->
        <button ion-button full  color="greenlight" (click)="register()" class="margintop">
          Submit
        </button>
        <!-- </form> -->
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
<ion-footer color="blue2">

</ion-footer>